.venv
__pycache__
.DS_Store
MetroPT2.csv
MetroPT3.csv
.vscode
data
results
*.png
__MACOSX
*.pdf
plots/
flowmeter_failures.csv
no_flowmeter_failures.csv
models/*
!models/pt2_TCN.pickle
!models/pt3_TCN.pickle